/* line 1, ../scss/_home.scss */
.home-jumbo {
  text-align: center;
  padding: 30px;
  margin-top: 70px;
}

/* line 6, ../scss/_home.scss */
.home-options {
  margin: 0px 0px;
  color: black;
}
/* line 10, ../scss/_home.scss */
.home-options .home-option .img-circle {
  width: 140px;
  height: 140px;
}

/* line 16, ../scss/_home.scss */
.test {
  color: red;
}

/* line 1, ../scss/_university-compare.scss */
.universityCompareContainer {
  margin-top: 75px;
}

/*Common Application Level Styles*/
/* line 7, ../scss/style.scss */
.content-container {
  margin: 70px 30px 0px;
}

/* line 10, ../scss/style.scss */
.tag-container {
  margin-top: 15px;
}
/* line 12, ../scss/style.scss */
.tag-container .tags {
  display: inline;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 8px;
  float: left;
  border-radius: 20px;
}
/* line 19, ../scss/style.scss */
.tag-container .tags .cross {
  text-align: right;
  margin-left: 5px;
}
