.home-jumbo{
    text-align: center;
    padding: 30px;
    margin-top: 70px;
}
.home-options{
    margin: 0px 0px;
    color:black;
    .home-option{
        .img-circle{
            width: 140px;
            height: 140px;
        }
    }
}
.test{
    color:red;
}