.universityCompareContainer {
    margin-top: 75px;
    .univ-tag-container {
        margin-top: 15px;
        .univ-tags {
            display: inline;
            margin-right: 15px;
            margin-bottom: 15px;
            padding: 8px;
            float: left;
            border-radius: 20px;
            .cross {
                text-align: right;
                margin-left: 5px;
            }
        }
    }
}
