<div ng-if="univCCtrl.dataLoaded" class="universityCompareContainer">

    <div class="well well-lg" ng-style="{ 'height' : (univCCtrl.compareList.length >0) ? '125px' : '85px' }">
        <input type="text" ng-model="univCCtrl.univSearch" uib-typeahead="university as university.universityName for university in univCCtrl.univList | filter:$viewValue | limitTo:8" typeahead-popup-template-url="bower_components/angular-bootstrap/template/typeahead/typeahead-popup.html" typeahead-template-url="bower_components/angular-bootstrap/template/typeahead/typeahead-match.html" typeahead-min-length="1" typeahead-on-select="univCCtrl.selectUniversity($item, $model, $label)" class="form-control" placeholder="Enter University Name ...">
        <div>
            <div class="univ-tag-container">
                <div class="alert alert-info univ-tags" ng-repeat="univ in univCCtrl.compareList">
                    {{univ.universityName}}<span style="text-align:right" class="glyphicon glyphicon-remove cross" ng-click="univCCtrl.removeUniversity($index)"></span>
                </div>
            </div>
        </div>

        <svg width="960" height="500"></svg>

    </div>

</div>
