<div class="row" class="universityCompareContainer">
    <style>
        .chart text {
            font: 10px sans-serif;
        }

        .chart .title {
            font: 15px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
    </style>
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Filter Results</h3>
            </div>
            <div class="panel-body filter-panel">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="col-md-10">Year</span> <span class="glyphicon glyphicon-minus"></span>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <select class="form-control" ng-options="year for year in univSCtrl.yearOptions" ng-model="univSCtrl.yearFilter" ng-change="univSCtrl.filterUniversities()"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <span class="col-md-10">Expenses</span> <span class="glyphicon glyphicon-minus"></span>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="slider-filter">In-State Expenses</div>
                                <rzslider rz-slider-model="univSCtrl.inStateSlider.min" rz-slider-high="univSCtrl.inStateSlider.max" rz-slider-options="univSCtrl.inStateSlider.options"></rzslider>
                                <div class="slider-filter">Out-State Expenses</div>
                                <rzslider rz-slider-model="univSCtrl.outStateSlider.min" rz-slider-high="univSCtrl.outStateSlider.max" rz-slider-options="univSCtrl.outStateSlider.options"></rzslider>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <span class="col-md-10">Climate</span><span class="glyphicon glyphicon-minus"></span>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="slider-filter">Minimum Temp</div>
                                <rzslider rz-slider-model="univSCtrl.minTempSlider.min" rz-slider-high="univSCtrl.minTempSlider.max" rz-slider-options="univSCtrl.minTempSlider.options"></rzslider>
                                <div class="slider-filter">Maximum Temp</div>
                                <rzslider rz-slider-model="univSCtrl.maxTempSlider.min" rz-slider-high="univSCtrl.maxTempSlider.max" rz-slider-options="univSCtrl.maxTempSlider.options"></rzslider>
                                <div class="slider-filter">Mean Temp</div>
                                <rzslider rz-slider-model="univSCtrl.meanTempSlider.min" rz-slider-high="univSCtrl.meanTempSlider.max" rz-slider-options="univSCtrl.meanTempSlider.options"></rzslider>
                                <div class="slider-filter">Total Rainfall</div>
                                <rzslider rz-slider-model="univSCtrl.rainfallSlider.min" rz-slider-high="univSCtrl.rainfallSlider.max" rz-slider-options="univSCtrl.rainfallSlider.options"></rzslider>
                                <div class="slider-filter">Total Snowfall</div>
                                <rzslider rz-slider-model="univSCtrl.snowfallSlider.min" rz-slider-high="univSCtrl.snowfallSlider.max" rz-slider-options="univSCtrl.snowfallSlider.options"></rzslider>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <span class="col-md-10">X Axis</span> <span class="glyphicon glyphicon-minus"></span>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <select class="form-control" ng-options="axis for axis in univSCtrl.xAxisOptions" ng-model="univSCtrl.xAxisFilter" ng-change="univSCtrl.filterUniversities()"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            <span class="col-md-10">Y Axis</span> <span class="glyphicon glyphicon-minus"></span>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <select class="form-control" ng-options="axis for axis in univSCtrl.yAxisOptions" ng-model="univSCtrl.yAxisFilter" ng-change="univSCtrl.filterUniversities()"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class=row>
            <div id="map-chart-container" class="col-xs-6">FusionCharts will render here</div>
            <div class="chart col-xs-6"></div>
        </div>      
    </div>
</div>


